.footer {
    width: 100%;
    background-color: black;
    color: var(--color-primary);
    margin-top: 81px;
}

.footer__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 80px 24px 32px;
}

.footer__top {
    display: flex;
    flex-flow: row wrap;
    align-items:start;
    padding-bottom: 31px;
}

.footer__menu {
    margin-left: 125px;
}

.menu-small {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.footer__description {
    display: flex;
    flex-flow: column;
    gap: 16px;
}

.footer__description div {
    width: 283px;
    opacity: 70%;
}

.footer__top>:nth-child(2),
.footer__top>:nth-child(3),
.footer__top span {
    opacity: 50%;
}

.footer__top>:nth-child(4),
.footer__bottom :first-child {
    opacity: 70%;
}

.footer__top>:nth-child(3) {
    margin-left: 153px;
}

.footer__top>:nth-child(4) {
    margin-left: 128px;
}

.footer__line {
    border: solid white 1px;
    width: 100%;
    opacity: 50%;
    margin-bottom: 32px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom_img {
    display: flex;
    gap: 24px;
}

@media (max-width: 1600px){

    .footer__top {
        justify-content: space-between;
        gap: 40px;
    }

    .footer__top .footer__menu {
        margin-left: 0px;
    }
}

@media (max-width: 1280px){
  
}

@media (max-width: 960px){

    .footer__top {
        flex-flow: column;
    }

    .footer__logo {
        font-size: var(--size-36);
    }

    /* .footer__top {
        width: 301px;
        padding: 48px 0px;
    }

    .footer__line {
        width: 295px;
    }

    .footer__bottom {
        width: 301px;
        padding: 48px 0px;
    } */
}

@media (max-width: 600px){
    .footer__bottom {
        flex-flow: column-reverse;
        align-items: start;
        gap: 24px;
    }
}

@media (max-width: 376px){

    .footer__wrapper {
        max-width: 328px;
        padding: 65px 0px;
        margin-top: -16px;
    }

    .footer__logo {
        font-size: var(--size-36);
    }

    .footer__top {
        max-width: 301px;
        padding: 8px 0px 48px;
        gap: 43px;
    }

    .footer__line {
        max-width: 295px;
        margin-bottom: -6px;
    }

    .footer__bottom {
        max-width: 301px;
        padding: 48px 0px;
    }
}

