/* Header */
.header {
    background-color: var(--color-secondary);
    position: relative;
    z-index: 1;
}

.header__wrapper {
    max-width: var(--layout-width);
    margin: 0 auto;
    display: flex;
    align-items:center;
    padding:39px 24px;
    justify-content: space-between;
}

/* menu */

.header__menu {
    margin-left: 28px;
}

.menu {
    display: flex;
    gap: 35px;
}

.menu__item a {
    cursor: pointer;
}

.menu__item:hover a {
    color: var(--color-link-hover);
}

.header__mobile-menu-button {
    display: none;
    background: none;
    border: none;
}

.line {
    display: none;
}

@media (max-width: 960px){

    .header__wrapper {
        flex-flow: row wrap;
        padding: 26px 15px 0px 24px;
    }

    .menu {
        display: none;
    }

    .header__mobile-menu-button {
        display: block;
    }

    .line {
        width: 100%;
        display: block;
        border: solid #ffffff 1px;
        margin-top: 17px;
        opacity: 16%;
    }

}



