body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#374151, #111827);
    width: 99%;
    height: 99vh;
  }

/* стили для <header> */
.header  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    height: auto;
    color: #ffffff;
}

.letter_w{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Source Sans Pro;
    font-size: 18px;
    background-color: #4B5563;
    width:35px;
    height:35px;
    border-radius: 3px;
}

.blog {
    margin-left: 11px;
    font-family: Roboto;
    font-size: 18px;
}

nav { 
    margin-left: 77px;
}

.header a {
    text-decoration: none;
    color: #ffffff;
}

.menu {
    display: flex;
    flex-direction: row;
    column-gap: 46px ;
    font-family: Roboto;
    font-size: 16px;
    list-style: none; 
}

.container {
    position: relative;
}

.icon{
    margin-left: 360px;
    margin-top: 15px;
    position: absolute;
    opacity: 50%;
}

.search {
    margin-left: 346px;
    font-family: Roboto;
    color: #ffffff;
    background-color: #1F2937;
    border-radius: 100px;
    border: none;
    width: 224px;
    height: 40px;
}

.search::placeholder {
    padding-left: 49px;
    font-family: Roboto;
    font-size: 16px;
}


/* стили для <article> */

article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    opacity: 60%;
}

.circle{
    margin: 10px;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: #ffffff;
}

h2 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    width: 525px;
    color: #ffffff;
    text-align: center;
}

.developer_block {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 30px;
    width: 290px;
    height: 60px;
}

.img1 {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.developer_name {
   color: #ffffff;
   width: 150px;
   height: 50px;
}

.family_name {
   font-family: Roboto;
   font-weight: 400;
   font-size: 16px;
   width: 148px;
   height: 28px;
}

.developer {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    width: 85px;
    height: 28px;
    opacity: 60%;
}

.img2 {
   margin-top: 28px;
}

.p1 {
    margin-top: 69px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    width: 710px;
}

.p2,.p3 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    width: 710px;
}

.art {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

footer {
    margin-top: 103px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    opacity: 60%;
}




